html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 h5, h6, p {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #6363ff;
}

button {
    appearance: none;
    border: none;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    letter-spacing: -0.5px;
    border-radius: 8px;
    width: 80px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3C80FF;
    color: white;
}

.app {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 8px;
}

.app > h2 {
    color: white;
    font-weight: 600;
    font-size: 42px;
    text-align: center;
}

.quiz-wrap {
    margin-top: 20px;
    border-radius: 8px;
    background-color: white;
    min-height: 80px;
    padding: 8px;
}

.question {
    padding: 10px 0;
}

.answer-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

button {
    border: 1px solid skyblue;
    padding: 10px;
    cursor: pointer;
}

.answer-wrap > button {
    flex-basis: calc(50% - 8px);
    appearance: none;
}

.answer-wrap > button:hover {
    background-color: #9ec3ff;
}

.next-btn-wrap {
    text-align: center;
}

.next-btn {
    margin: 10px 0;
    width: 150px;
}

.hidden {
    display: none !important;
}

.event-none {
    pointer-events: none;
}

.green {
    background-color: #059862 !important;
}

.red {
    background-color: #fc0330 !important;
}