html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 h5, h6, p {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #6363ff;
}

button {
    appearance: none;
    border: none;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    letter-spacing: -0.5px;
    border-radius: 8px;
    width: 80px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3C80FF;
    color: white;
}

.app {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 8px;
}

.app > h2 {
    color: white;
    font-weight: 600;
    font-size: 42px;
    text-align: center;
}

.score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 24px;
    margin-top: 20px;
}

.player {
    text-align: center;
}

.cpu {
    text-align: center;
}

.remaining-number {
    color: white;
    margin-top: 20px;
    text-align: center;
}

.game-result-text {
    margin-top: 20px;
    font-size: 24px;
    color: white;
    text-align: center;
}

.remaining-number > h2 {
    padding-top: 20px;
}

.remaining-number > p {
    padding-top: 4px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.result {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.reset-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-btn > .btn {
    margin-top: 20px;
    width: auto;
}

.hidden {
    display: none !important;
}