.faqContainer {
    padding: 28px;
}

.faqContainer > h2 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    padding: 0;
    color: #f9f9f9;
}

@media screen and (max-width: 768px){
    .faqContainer > h2 {
        font-size: 32px;
    }
}