.header {
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
}

.nav {
    padding: 0 36px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.navList {
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.navListItem {
    display: inline-block;
}

.navListItem > a {
    padding: 0 16px;
    height: 50px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .8);
    margin: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .2s ease 0s;
    text-decoration: none;
    font-weight: 400;
    color: #f9f9f9;
    border: 1px solid silver;
    font-size: 18px;
}

.navListItem > a:hover {
    background-color: #f9f9f9;
    border-color: transparent;
    color: #040714;
}

.headerLogin {
    height: 80px;
    padding: 16px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.headerLogin > img {
    object-fit: cover;
}

.disenyplus {
    width: 80px;
    cursor: pointer;
}

.avatarContainer {
    position: relative;
    cursor: pointer;
}

.avatarContainer > ul {
    position: absolute;
    border: 1px solid #8f8f8f;
    padding: 8px 20px 8px 8px;
    right: 0;
    display: none;
    border-radius: 8px;
}

.avatarContainer:hover > ul {
    display: block;
}

.avatar {
    width: 32px;
}

.search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.search > input[type='text'] {
    appearance: none;
    outline: none;
    padding: 12px;
    border-radius: 8px;
    background-color: #040714;
    border: 1px solid #8f8f8f;
    color: silver;
}

@media screen and (max-width: 768px) {
    .nav {
        padding: 0 12px;
        height: 70px;
    }

    .navListItem > a {
        padding: 0 12px;
        height: 40px;
        font-size: 14px;
    }
}